@import "variables";
@import "mixins";
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--dark-color-40);
  
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.title-h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 135%;
  color: var(--dark-color-10);
  @include mobile {
    font-size: 40px;
  }
  @media screen and (max-width: 470px) {
    font-size: 35px;
  }
}

.title-h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-color-10);
  @include tablet {
    font-size: 30px;
  }
}

// ==================HEADER========================

.header {
  &__container {
    padding-top: 41px;
    @include mobile {
      svg {
        width: 40%;
      }
      padding-top: 20px;
    }
  }
}

// ==================HERO SECTION========================

.hero {
  padding-top: 60px;
  @include tablet {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include mobile {
    padding-top: 15px;
  }

  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__background-circle {
    position: absolute;
    left: 115px;
    top: -69px;
    z-index: -1;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 31px;
    max-width: 564px;
    margin-top: -200px;
    @include tablet {
      margin-top: 0;
    }
    @include mobile {
      max-width: 480px;
      gap: 15px;
    }
    @media screen and (max-width: 513px) {
      text-align: center;
    }
  }

  &__left-title {
    span {
      font-family: var(--third-family);
      font-weight: 700;
      font-size: 17px;
      line-height: 1.03;
      color: var(--white-color-10);
      padding: 13px 64px;
      background-color: var(--blue-color-10);
      border-radius: 40px;
      display: inline-block;
      transform: translateY(-9px);
      @include mobile {
        font-size: 13px;
      }
      @media screen and (max-width: 470px) {
        font-size: 11px;
      }
    }
  }

  &__left-text {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.81;
    color: var(--dark-color-20);
    @include mobile {
      font-size: 14px;
    }
    @media screen and (max-width: 470px) {
      font-size: 12px;
    }
  }

  &__right {
    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -142px;
    @include tablet {
      margin-top: 0;
      flex-direction: column;
    }
  }

  &__right-list {
    display: flex;
    flex-direction: column;
    gap: 17px;
    &:first-child {
      margin-right: 21px;
      @include tablet {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    @include tablet {
      flex-direction: row;

      align-items: center;
      justify-content: center;
      &:first-child {
        flex-wrap: wrap;
      }
    }
  }

  &__right-list-item {
    padding: 18px 8px 8px 8px;
    border-radius: 15px;
    box-shadow: var(--cards-shadow);
    background-color: var(--white-color-10);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 198px;

    img {
      object-fit: cover;
      width: 100%;
    }
    @include tablet {
      width: 183px;
    }
    @include mobile {
      max-height: 161px;
      width: 150px;
      padding: 10px 4px 4px 4px;
    }
    @include small-mobile {
      width: 130px;
    }
    img {
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    &:has(.procent-circle) {
      &:hover {
        img {
          transform: scale(1);
        }
      }
    }
  }
  &__right-list-image-box {
    border-radius: 15px;
    overflow: hidden;
  }

  .item--blur {
    filter: blur(3px);
    @include tablet {
      filter: blur(0);
    }
  }

  .procent-circle {
    position: absolute;
    @include mobile {
      width: 90%;
      margin: 0 auto;
      display: block;
    }
  }

  &__right-list-procent {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
    color: var(--dark-color-20);
    text-align: center;
    margin-bottom: 4px;
    @include mobile {
      font-size: 18px;
    }
  }

  &__right-list-desc {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 6px;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-color-20);
    @include mobile {
      font-size: 5px;
    }
  }

  &__right-sign-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border-radius: 15px;
    box-shadow: var(--sign-shadow);
    background-color: var(--white-color-10);
    position: absolute;
    gap: 8px;
    width: 223px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    @media screen and (max-width: 513px) {
      max-width: 150px;
    }
    @include small-mobile {
      max-width: 90px;
      flex-direction: column;
    }
  }

  &__right-sign-image-box {
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  &__right-sign-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .sign-club {
    left: -111px;
    bottom: 99px;
    @include tablet {
      left: 1%;
      bottom: 152px;
    }
    @include mobile {
      bottom: 43.5%;
    }
    @media screen and (max-width: 513px) {
      left: 1%;
    }
  }

  .sign-player {
    left: 82px;
    top: 182px;
    @include tablet {
      left: 50%;
      top: 168px;
    }
    @include mobile {
      top: 40%;
    }
    @media screen and (max-width: 513px) {
      left: auto;
      right: 1%;
    }
  }

  &__right-sign-title {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 8px;
    color: var(--blue-color-10);
  }

  &__right-sign-text {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 7px;
    color: var(--dark-color-10);
  }
}

// ==================STATS SECTION========================

.stats {
  margin-top: 32px;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 1059px) {
      justify-content: center;
      gap: 25px;
    }
    @include mobile {
      gap: 10px;
    }
  }

  &__item {
    display: flex;
    gap: 16px;
    align-items: center;
    box-shadow: var(--stats-shadow);
    background-color: var(--white-color-10);
    border-radius: 11px;
    max-width: 250px;
    padding: 9px;
    flex-shrink: 0;
    width: 100%;
    @include small-desktop {
      max-width: 200px;
      gap: 8px;
    }
    @include tablet {
      max-width: 250px;
      gap: 16px;
    }
    @include mobile {
      max-width: 200px;
      gap: 8px;
    }
    @media screen and (max-width: 439px) {
      max-width: 100%;
      padding: 8px 50px;
      gap: 30px;
    }
    @include small-mobile {
      padding: 8px 30px;
      gap: 15px;
    }
  }
  &__item-image-box {
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item-content-title {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--blue-color-10);
    @include small-desktop {
      font-size: 24px;
    }
  }

  &__item-content-text {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 10px;
    color: var(--dark-color-10);
    opacity: 0.8;
  }
}

// ==================TOURNAMENT SECTION========================

.tournament {
  padding-top: 122px;
  background-color: var(--white-color-10);
  max-width: 1203px;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: -35px;
  padding-bottom: 100px;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
  }

  &__title {
    margin-bottom: 66px;
    margin-left: 86px;
    span {
      color: var(--blue-color-10);
    }
    @include mobile {
      text-align: center;
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
  &__swiper {
    height: 296px;
    max-width: 100%;
    padding: 0 67px;
    @include mobile {
      padding: 0;
    }
  }
  &__swiper-wrapper {
  }
  &__slide {
    padding: 30px 30px;

    &:nth-child(2n) {
      .tournament__swiper-slide-title {
        color: var(--dark-color-10);
      }
    }
  }
  &__swiper-slide-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 397px;
    @include mobile {
      width: 70%;
    }
    box-shadow: var(--tour-shadow);
    max-height: 170px;
    background: var(--white-color-10);
    border-radius: 15px;
    padding: 22px 14px 66px 14px;
    @include mobile {
      padding: 22px 14px 10px 14px;
    }
  }
  &__swiper-slide-background-img {
    position: absolute;
    height: 100%;
    top: 0;
    right: 16px;
  }
  &__swiper-slide-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    color: var(--blue-color-10);
    margin-bottom: 32px;
    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__swiper-slide-text {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-color-10);
    margin-bottom: 39px;
  }
  &__slide-content {
    display: flex;
    gap: 10px;
  }

  &__swiper-slide-name {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    color: var(--dark-color-30);
    margin-bottom: 5px;
  }
  &__swiper-slide-match {
    position: absolute;
    bottom: -21px;
    left: 0;
    padding: 5px 7px 8px;
    background: var(--white-color-10);
    width: 199px;
    border-radius: 15px;
    box-shadow: var(--sign-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__swiper-match-wrapper {
    position: relative;
  }

  &__swiper-match-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__swiper-match-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__swiper-match-date {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 7px;
    color: var(--dark-color-10);
    opacity: 0.5;
  }

  &__swiper-match-score {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: var(--blue-color-10);
  }

  &__swiper-match-btn {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 7px;
    line-height: 1.03;
    color: var(--white-color-10);
    padding: 7px 14px;
    border-radius: 18px;
    background-color: var(--blue-color-10);
    position: absolute;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
  }

  .button-prev,
  .button-next {
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    bottom: 0px;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue-color-10);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: var(--blue-color-10);
      svg path {
        fill: var(--white-color-10);
      }
    }
  }
  .swiper-button-disabled {
    opacity: 0.4;
    background-color: gray;
    border: 1px solid gray;
    svg path {
      fill: var(--white-color-10);
    }
  }
  .button-prev {
    left: 80px;
  }

  .button-next {
    right: 140px;

    @include mobile {
      right: 77px;
    }
  }
}

// =================== TOURLINK SECTION ========================

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 50%;
  transform: translateY(50%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  left: 67%;
}

/* Rounded sliders */
.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 50%;
}

.tourlink {
  padding-top: 94px;
  padding-bottom: 121px;
  @include tablet {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__container {
    position: relative;
  }
  &__background-img {
    position: absolute;
    right: -120px;
    @include tablet {
      right: 40px;
    }
  }

  &__title {
    max-width: 431px;
    margin-bottom: 90px;
    span {
      color: var(--blue-color-10);
    }
    @include tablet {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
  }

  &__content {
    display: flex;
    @include tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .swiper {
    width: 576px;
    height: 267px;
    margin-left: 0;
    margin-right: 100px;
    @include tablet {
      margin: 0 auto;
      width: 43%;
      height: 230px;
    }
    @include mobile {
      margin: 0;
      width: 75%;
    }
    @include small-mobile {
      height: 180px;
    }
  }
  .swiper-slide {
    @include tablet {
      max-width: 400px;
      img {
        width: 100%;
      }
    }
  }
  .swiper-slide-next {
    margin-top: -45px;
    @include mobile {
      margin-top: -25px;
    }
  }
  .tourlink-slide-1.swiper-slide-active {
    margin-top: -45px;
    @include mobile {
      margin-top: -25px;
    }
  }

  &__switcher {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__switcher-link {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.54;
    color: var(--dark-color-20);
    span {
      color: var(--blue-color-10);
    }
  }
  &__switcher-text {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--dark-color-20);
  }

  .cursor {
    animation: cursorBlink 1s alternate infinite;
  }
  @keyframes cursorBlink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// ======================PLAYOF SECTION========================

.playoff {
  padding-top: 63px;
  padding-bottom: 80px;
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__background-img {
    position: absolute;
    z-index: -1;
    left: -366px;
    top: -88px;
  }

  &__title {
    margin-bottom: 88px;
    span {
      color: var(--blue-color-10);
    }
    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__list-bracket {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 108px;
    @include tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin-bottom: 40px;
    }
  }

  &__list-bracket-item {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: var(--playoff-shadow);
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .bracket-item--centered {
    z-index: 2;
    top: -42px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include tablet {
      position: static;
      transform: translateX(0);
    }
  }

  &__list-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__list-settings-item {
    border-radius: 15px;
    padding: 8px 31px;
    max-width: 289px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 154%;
    text-align: center;
    color: var(--blue-color-10);
    box-shadow: var(--playoff-shadow);
    background-color: var(--white-color-10);
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    @include mobile {
      font-size: 18px;
    }
    &:hover {
      transform: translateY(-10px);
    }
  }
}

// ================= PERSONAL SECTION ===================

.personal {
  padding-top: 90px;
  padding-bottom: 100px;
  @include small-tablet {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  &__container {
    display: flex;
    gap: 80px;
    position: relative;
    @include small-tablet {
      gap: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__background-img {
    position: absolute;
    left: -110px;
    top: -137px;
    z-index: -2;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 431px;
    margin-top: 74px;
    @include small-tablet {
      margin-top: 0;
    }
  }
  &__title {
    span {
      color: var(--blue-color-10);
    }
  }

  &__stats-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__stats-item {
    display: flex;
    align-items: start;
    gap: 8px;
  }

  &__stats-text {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    vertical-align: middle;
    color: var(--dark-color-20);
  }

  &__right {
    position: relative;
    height: 540px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include small-tablet {
      align-items: start;
    }
    @include mobile {
      height: auto;
      width: 100%;
    }
  }
  &__right-img {
    position: absolute;
    z-index: -1;
    opacity: 0.42;
    @include mobile {
      display: none;
    }
  }

  &__right-team {
    left: -13px;
    @include small-desktop {
      width: 50%;
    }
    @include tablet {
      top: 0;
    }
    @include small-tablet {
      top: auto;
      bottom: 45px;
      left: 20%;
    }
  }
  &__right-manager {
    right: 0px;
    top: -20px;
    @include small-desktop {
      right: 30px;
    }
    @include tablet {
      width: 40%;
    }
    @include small-tablet {
      top: auto;
      bottom: 50px;
      left: 70%;
    }
  }
  &__right-analyst {
    bottom: 50px;
    right: -30px;
    @include small-desktop {
      right: 30px;
    }
    @include tablet {
      width: 40%;
      right: 80%;
    }
  }

  &__right-card {
    display: flex;
    flex-direction: column;
    gap: 33px;
    max-width: 327px;
    padding: 31px 21px;
    border-radius: 7px;
    box-shadow: var(--sign-shadow);
    background-color: var(--white-color-10);
  }
  &__right-header {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__right-avatar-box {
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }
  &__right-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__right-name {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: var(--dark-color-30);
    span {
      color: var(--blue-color-10);
    }
  }

  &__right-desc {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 10px;
    color: var(--dark-color-30);
    max-width: 221px;
  }

  &__right-stats {
    display: grid;
    max-width: 284px;
    grid-template: 66px 1fr / repeat(2, 1fr);
    border-radius: 5px;
    border: 1px solid var(--dark-color-50);
  }
  &__right-shoots {
    border-right: 1px solid var(--dark-color-50);
  }
  &__right-shoots,
  &__right-hits {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__right-shoots-text,
  &__right-hits-text {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 9px;
    color: var(--dark-color-60);
    max-width: 93px;
  }
  &__right-hits-text {
    margin-bottom: 10px;
  }
  &__right-shoots-count,
  &__right-hits-count {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--blue-color-10);
  }

  &__right-graph {
    grid-area: 2 / 1 / 2 / 3;
    max-width: 284px;
    overflow: hidden;
    border-top: 1px solid var(--dark-color-50);
    img {
      transform: translateX(-15px);
    }
  }

  &__right-graph-text {
    margin-left: 9px;
    margin-top: 12px;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 9px;
    color: var(--dark-color-60);
  }
}

// ============= ADV SECTION ===================

.adv {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  .swiper-slide {
    &:nth-child(1n) {
      .adv__title {
        color: var(--dark-color-10);
        span {
          color: var(--blue-color-10);
        }
      }
      .adv__slide-number {
        color: rgba(30, 144, 255, 0.5);
      }
      background: var(--white-color-10);

      .button-next {
        border: 1px solid var(--white-color-10);
      }
    }
    &:nth-child(2n) {
      .adv__title {
        color: var(--dark-color-10);
        span {
          color: var(--white-color-10);
        }
      }
      .adv__slide-number {
        color: rgba(255, 255, 255, 0.7);
      }
      background: var(--background-color-blue);
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 57px 67px;
    border-radius: 15px;
    height: 717px;
    position: relative;
    @include mobile {
      padding: 30px 40px;
    }
  }
  &__title {
    @include mobile {
      margin-bottom: 30px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__left {
    position: relative;
    width: 30%;
    img {
      position: absolute;
    }
    @include mobile {
      display: none;
    }
  }
  .adv__stats {
    .adv__slide-number {
      position: absolute;
      left: 20%;
      bottom: -80px;
      opacity: 0.5;
      z-index: -1;
      @include mobile {
        display: none;
      }
    }
    .adv__content {
      gap: 105px;
      @include tablet {
        flex-direction: column;
        gap: 30px;
      }
    }
    .adv__left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: -80px;
      img {
        width: 100%;
        object-fit: cover;
      }
      @include mobile {
        width: 100%;
      }
    }
    .adv__right {
      margin-top: -80px;
    }
    .adv__container-video-box {
      border-radius: 8px;
      overflow: hidden;
      img {
        position: static;
      }
    }
    .adv__ball {
      z-index: -1;
      bottom: -185px;
      left: -161px;
      @include mobile {
        display: none;
      }
    }

    .adv__right-item {
      height: auto;
      padding: 46px 15px;
      margin-left: 0;
    }
    .adv__right-title {
      color: var(--blue-color-10);
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      &::after {
        content: "";
        width: 79px;
        height: 1px;
        border: 2px solid var(--blue-color-10);
        display: block;
        background-color: var(--blue-color-10);
      }
    }
    .adv__right-text {
      color: var(--dark-color-30);
      max-width: 240px;
    }
  }
  &__slide-number {
    position: relative;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 350px;
    margin-left: 170px;
    &:nth-child(1n) {
      color: rgba(30, 144, 255, 0.5);
    }
    &:nth-child(2n) {
      color: rgba(255, 255, 255, 0.7);
    }

    @include mobile {
      opacity: 0;
    }
  }

  &__ball {
    z-index: 0;
    bottom: -292px;
    left: -97px;
    opacity: 0.5;
  }
  &__phone {
    z-index: 0;
    bottom: -111px;
    left: 62px;
    @include mobile {
      left: -50px;
    }
  }

  &__right {
    width: 50%;
    position: relative;
    @include mobile {
      width: 100%;
    }
  }
  &__right-background-img {
    position: absolute;
    right: -100px;
    top: 120px;
  }
  &__slide-background-img {
    position: absolute;
    right: -92px;
    bottom: -90px;
  }
  &__right-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 73px;
    position: relative;
    z-index: 2;
  }

  &__right-list.details {
    gap: 20px;
  }
  &__right-list.contacts {
    gap: 20px;
  }

  &__right-item {
    max-width: 301px;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white-color-10);
    padding: 20px 15px;
    box-shadow: 0 4px 50px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    @include tablet {
      flex-shrink: 0;
      min-width: 250px;
      height: auto;
    }
    &:nth-child(1n) {
      margin-left: -100px;
      @include mobile {
        margin-left: 0;
      }
    }
    &:nth-child(2n) {
      margin-right: -300px;
      @include tablet {
        margin-right: 0;
      }
    }
  }

  &__right-item.details {
    padding: 38px 15px;
    height: auto;
    &:nth-child(1n) {
      margin-left: -10px;
      @include mobile {
        margin-left: 0;
      }
    }
    &:nth-child(2n) {
      margin-right: -200px;
      @include mobile {
        margin-right: 0;
      }
    }
  }

  &__right-item.contacts {
    max-width: 340px;
    width: 100%;
  }

  &__right-avatar {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--white-color-10);
    margin-top: -72px;
    box-shadow: 0 4px 50px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  &__right-title {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 20px;
    color: var(--dark-color-20);
    margin-bottom: 25px;
    @include mobile {
      margin-bottom: 15px;
    }
  }
  &__right-title.contacts {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 139%;
    text-align: center;
    color: var(--dark-color-20);
    span {
      color: var(--blue-color-10);
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      width: 79px;
      height: 1px;
      border: 2px solid var(--blue-color-10);
      display: block;
      background-color: var(--blue-color-10);
      margin-top: 15px;
    }

    @include mobile {
      font-size: 16px;
    }
  }
  &__right-title.details {
    color: var(--blue-color-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 235px;
    gap: 15px;
    margin-bottom: 6px;
    &::after {
      content: "";
      width: 79px;
      height: 1px;
      border: 2px solid var(--blue-color-10);
      display: block;
      background-color: var(--blue-color-10);
    }
  }
  &__right-text {
    max-width: 199px;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--blue-color-10);
  }

  &__right-text.details {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #000;
  }
  &__right-btn {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 128%;
    text-align: center;
    color: var(--white-color-10);
    border-radius: 11px;
    background-color: var(--blue-color-10);
    padding: 12px 42px;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      transform: translateY(0);
      margin-top: 8px;
    }
  }
  &__right-text.contacts {
    max-width: 260px;
  }
  .details--margin {
    margin-top: 25px;
  }
  .button-prev-adv,
  .button-next-adv {
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    bottom: 50%;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue-color-10);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: border-color 1s;
    svg path {
      transition: fill 0.3s ease-in-out;
    }
    &:hover {
      background-color: var(--blue-color-10);
      svg path {
        fill: var(--white-color-10);
      }
    }

    @include mobile {
      bottom: 37%;
    }
  }
  .button-prev-adv {
    left: 18px;
    @include mobile {
      left: 10px;
    }
  }
  .button-next-adv {
    right: 18px;
    @include mobile {
      right: 10px;
    }
  }

  .button-prev-adv.white,
  .button-next-adv.white {
    border-color: var(--white-color-10);
    svg path {
      fill: var(--white-color-10);
    }
  }

  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border: 1px solid var(--pagination-color-1);
    background-color: transparent;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
  .white .swiper-pagination-bullet {
    border-color: var(--white-color-10);
  }
  .swiper-pagination-bullet-active {
    background-color: var(--pagination-color-1);
  }
  .white .swiper-pagination-bullet-active {
    background-color: var(--white-color-10);
  }

  .swiper-button-disabled {
    display: none;
  }
}

// ============== FOOTER =================

.footer {
  padding: 30px 0;
  @include mobile{
    padding-top: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    max-width: 1230px;
    @include mobile{
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 37px;
    @include mobile{
      flex-direction: column;
      gap: 15px;
    }
  }

  &__goup {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--blue-color-10);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #0e436e3f;
    }
  }
  &__contact-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .contact-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: var(--blue-color-10);
    align-self: flex-end;
    @include mobile{
      
      align-self: center;
    }
  }

  &__contact-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    text-align: center;
    color: #5c7184;
    &:hover{
      text-decoration: underline;
    }
  }
  &__logo-link{
    img{
      width: 100%;
      object-fit: cover;
    }
  }
}
