:root {
    // Main colors
  
      --dark-color-10: #333333;
      --dark-color-20:#151515;
      --dark-color-30: #4b4b4b;
      --dark-color-40: #f2f2f2;
      --dark-color-50: #d7d7d7;
      --dark-color-60: #636363;;

      --white-color-10: #fff;
  
      --blue-color-10: #1e90ff;

      // adv colors

      --text-color-1: rgba(30, 144, 255, 0.5);
      --text-color-2: rgba(255, 255, 255, 0.7);
      --background-color-blue: #65b3ff;
      --pagination-color-1:#65b3ff; 
  
    // shadows

    --cards-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    --sign-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
    --stats-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.9);
    --tour-shadow:  0px 0px 40px 0 rgba(0, 0, 0, 0.1);
    --playoff-shadow: 0 4px 50px 10px rgba(0, 0, 0, 0.1);;
  
    // container-width
      --container-width: 1069px;
      --container-padding: 15px;
  
    // paddings
  
    // Fonts
  
    --second-family: "Montserrat", sans-serif;
    --third-family: "Raleway", sans-serif;
  }